<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualStudioOnline.Api.Rest.Test.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualStudioOnline.Api.Rest.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VisualStudioOnline.Api.Rest.Test.app>
            <setting name="AccountName" serializeAs="String">
                <value>Test</value>
            </setting>
        </VisualStudioOnline.Api.Rest.Test.app>
    </applicationSettings>
    <userSettings>
        <VisualStudioOnline.Api.Rest.Test.Properties.Settings>
            <setting name="AccountName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="ProjectId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>TestToken</value>
            </setting>
            <setting name="WorkItemId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkItemRevision" serializeAs="String">
                <value>0</value>
            </setting>
        </VisualStudioOnline.Api.Rest.Test.Properties.Settings>
    </userSettings>
</configuration>